
.nav-title{font-size: 18px;background-color: #059CD4 !important;border-color:#059CD4 !important;border-radius: 0px !important;
color: #FFFFFF !important; }
.fcw{color: #FFFFFF !important;}
.app-container{}
.app-container{}
.app-swiper{margin-bottom: 0.2rem; }
.list-container{background: #FFF;margin-bottom: 0.375rem;box-shadow: 0px 0px 0.075rem 0.075rem #fff;
border-radius: 0.075rem; }
.list-title{ background: #FFF; height: 1.0rem;line-height: 1.0rem;text-align: left;padding-left: 0.25rem;
border-bottom: 1px solid #CCC;color: #059CD4;}
.list-item{background: #FFF;border-bottom: 1px solid #CCC;min-height: 1.25rem; padding: 0.2rem;clear: both;}
.list-item-img{width: 30%;height: 2.5rem;display:table-cell;border-radius: 0.125rem;}
.list-item-content{width: 70%;height: 2.5rem;display: table-cell;vertical-align: top;text-align: left;padding-left: 0.375rem;}
.list-item-content-title{height: 0.75rem;font-size: 18px;}
.list-item-content-saleNum{text-align: right;height: 0.75rem;padding-right: 0.35rem;}
.list-item-content-price{font-size: 16px;color: #FF5031; float: right; text-align: right;padding-right: 0.25rem;}
.list-item-content-address{ height: 0.75rem;line-height: 0.75rem;font-size: 12px; } 
.location{background: url('../img/location.png') no-repeat;background-size: 19px;height:0.75rem; background-position: center left; padding-left: 25px;}
 a:link{text-decoration:none !important; cursor:pointer; color:#000!important;}
 a:visited{text-decoration:none !important; cursor:pointer}
 a:active{text-decoration:none !important; cursor:pointer}
 a:hover{text-decoration:none !important; cursor:pointer}
  a{text-decoration:none !important; color:#000!important;}

  .mhg150{height: 3.75rem !important;}
  .mhg200{height: 5.0rem !important;}
.mhg280{height: 7.0rem !important;}
.mhg30{height: 0.75rem;}
  .details-desc{
   position: absolute;
   width: 100%;
   height: 2.0rem;
   opacity: 0.6;
   background: transparent;
   bottom: 0px;
   z-index: 10;
  }


    .food-details-title{
        height: 1.5rem;line-height: 1.5rem; margin:0 auto; padding:0px;background: #FFF;border-bottom: 1px solid #CCC;
        margin-bottom:0.125rem;}
    .food-details-title>span{height: 1.5rem;line-height: 1.5rem; margin:0 auto; padding:0px;}
    .detail-content{background: #fff; padding:20px; text-align: left;min-height: 5.0rem;}
    .detail-content>div{height:1.0rem;line-height: 1.0rem;}

    .food-details-footer{height: 1.375rem;line-height: 1.375rem; padding-left: 0px !important;padding-right: 0px !important;}

    .settlement{width: 49.8%;background-color:#ff7362;color: #FFF; padding-right: 0px; margin-right: 0px;}

    .cartNum{font-size: 20px;line-height: 0.75rem;height: 0.75rem;text-align: right;padding-right:20px;}